@model User

@{
	ViewData["Title"] = "Edit User";
	Layout = "AdminLayout";
}

<form asp-action="EditUser" method="post">
	<div class="form-group">
		<label asp-for="Id">ID:</label>
		<input class="form-control" asp-for="Id" disabled value="@ViewBag.User.Id" />
	</div>
	<div class="form-group">
		<label asp-for="Name">Name:</label>
		<input class="form-control" asp-for="Name" value="@ViewBag.User.Name" />
	</div>
	<div class="form-group">
		<label asp-for="Surname">Surname:</label>
		<input class="form-control" asp-for="Surname" value="@ViewBag.User.Surname" />
	</div>
	<div class="form-group">
		<label asp-for="Login">Nickname:</label>
		<input disabled class="form-control" asp-for="Login" value="@ViewBag.User.Login" />
	</div>
	<div class="form-group">
		<label asp-for="Points">Points:</label>
		<input class="form-control" asp-for="Points" value="@ViewBag.User.Points" />
	</div>
	<div class="form-group">
		<label asp-for="TeamId">Team ID:</label>
		<input class="form-control" asp-for="TeamId" value="@ViewBag.User.TeamId" />
	</div>
	<div class="row" style="margin-top: 30px">
		<div class="col-sm">
			<button class="btn btn-dark" button="button" asp-controller="Admin" asp-action="Index" style="width: 100%">Cancel</button>
		</div>
		<div class="col-sm">
			<button class="btn btn-dark" button="submit" style="width: 100%">Edit</button>
		</div>
	</div>
</form>