@{
    ViewData["Title"] = "Questions";
    Layout = "AdminLayout";
}

<a asp-action="AddQuestion" asp-controller="Admin" class="btn btn-dakr">Add question</a>
@if (ViewBag.Questions.Count != 0) {
    <table class="table table-striped">
        <tr>
            <td>Name</td>
            <td>Text</td>
            <td>Points</td>
            <td>Multipart</td>
            <td>Img path</td>
            <td>Answer</td>
            <td>Add Option</td>
            <td>EDIT</td>
            <td>DELETE</td>
        </tr>
        @foreach (Question question in ViewBag.Questions)
        {
            <tr>
                <td>@question.Name</td>
                <td>@(question.Text.Length > 100 ? $"{question.Text.Substring(0, 100)}..." : question.Text) </td>
                <td>@question.Points.ToString()</td>
                <td>@(question.Multipart ? "Yes" : "No")</td>
                <td>@question.Img</td>
                <td>@(question.Answer.Length > 100 ? $"{question.Answer.Substring(0, 100)}..." : question.Answer)</td>
                <td>
                    @if(question.Multipart) {
                        <a asp-action="AddMultipart" asp-controller="Admin" asp-route-Id="@question.Id" class="btn btn-dark" asp-route-Id="@question.Id">Add option</a>
                    }
                </td>
                <td><a asp-action="EditQuestion" asp-controller="Admin" asp-route-Id="@question.Id" class="btn btn-dark">EDIT</a></td>
                <td><a asp-action="DeleteQuestion" asp-controller="Admin" asp-route-Id="@question.Id" class="btn btn-danger">DELETE</a></td>
            </tr>
        }
    </table>
} else {
    <p>No questions have been added yet, feel free to add one</p>
}